{% extends "main/base.html" %}
{% load static %}
{% block title %}CRYPTOARB{% endblock %}
{% block head %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'main/css/select2-bootstrap.css' %}">
{% endblock %}

{% block main %}

<div class="container">
	<div class="row align-items-start">
		<div class="col">
			<h2 class="mt-2">CRYPTOARB</h2>
		</div>
		<div class="col-auto">
			<div class="row justify-content-end">
				{% if user.is_authenticated %}
				<a class="btn btn-primary mt-2" href="{% url 'logout' %}" target="_blank" role="button">Вийти</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row align-items-start">
		<div class="col">
			<form method="get">
				<div class="row flex-column">
					{% comment %} <div class="col-sm-5 col-md-5 mb-1">
						<select name='city' id='id_city' class="form-select" aria-label="Город">
							<option value="">Все города</option>
							{% for city in cities %}
							<option value="{{ city.pk }}"
								{% if city.pk|stringformat:"s" == request.GET.city %}selected{% endif %}>
								{{ city.name }}</option>
							{% endfor %}
						</select>
					</div> {% endcomment %}
					{% comment %} <div class="col-sm-5 col-md-5 mb-1">
						<select name='category' id='id_category' class="form-select" aria-label="Специальность">
							<option value="">Все специальности</option>
							{% for category in categoryes %}
							<option value="{{ category.pk }}"
								{% if category.pk|stringformat:"s" == request.GET.category %}selected{% endif %}>
								{{ category.name }}</option>
							{% endfor %}
						</select>
					</div> {% endcomment %}

					<div class="col-auto mb-1">
					{% if user.is_authenticated %}
					{% if not status.broken %}
						{% if status.started_now %}
							<p>Парсер щойно було запущено, перезапустіть сторінку через декілька секунд</p>
						{% else %}
							{% if status.parser_status %}
								{% if status.started %}
									<p>Парсер працює</p>
									{% comment %} <p>Опарцьовані пари: {{status.iter_coins}}/{{status.iter_all_coins}}</p> {% endcomment %}
								{% else %}
									<p>Парсер трішки відпочиває</p>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
					{% endif %}
					</div>
					
					
					{% comment %} <div class="col-5 mb-1">
						<div class="row">
							<div class="col">
								<input name="sex" type="text" value="" placeholder="Введите текст" />
								<label class="form-check-label" for="id_sex{{ sex.pk }}">{{ sex.name }}</label>
							</div>
						</div>
					</div>

					<div class="col-sm-5 col-md-5 mb-1">
						<button class="btn btn-dark" style="margin-right: 5pt;">Найти</button>
						<button name='clear' value="true" class="btn btn-outline-dark">Сбросить</button>
					</div> {% endcomment %}
				</div>
			</form>
		</div>
		<div class="col-3">
            <div class="row flex-column justify-content-end">
				{% comment %} <div style="display: table;">
					{% for item in labels %}
					{% if forloop.counter0|divisibleby:2 %}
					<div style="display: table-row;">
					{% endif %}
						<div style="display: table-cell; padding-right: 10px;"><h4>{{ item.name }}</h4></div>
					{% if forloop.counter|divisibleby:2 or forloop.last %}
					</div>
					{% endif %}
					{% endfor %}
				</div> {% endcomment %}
			</div>
        </div>
	</div>
	<br>
	{% if user.is_authenticated %}
	<table class="table">
	  <thead>
	    <tr>
		  <th scope="col">№</th>
	      <th scope="col">Пара</th>
		  <th scope="col">Купуємо A</th>
	      <th scope="col">Продаємо B</th>
	      <th scope="col">Bid/Ask на A</th>
		  <th scope="col">Bid/Ask на B</th>
		  <th scope="col">Об'єм на А</th>
		  <th scope="col">Об'єм на B</th>
	      <th scope="col">Спред</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for item in data %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{item.currency_pair}}<span style="font-size: 10px !important;">{{item.currency_pair.sell_net}}</span></td>
			<td><a href="{{item.buy_exchange.website}}"><strong>{{item.buy_exchange.name}}</strong></a></td>
			<td><a href="{{item.sell_exchange.website}}"><strong>{{item.sell_exchange.name}}</strong></a></td>
			<td>{{item.buy_bid|floatformat:"8"}}/{{item.buy_ask|floatformat:"8"}}</td>
			<td>{{item.sell_bid|floatformat:"8"}}/{{item.sell_ask|floatformat:"8"}}</td>
			<td>${{item.buy_volume|floatformat:"5"}}</td>
			<td>${{item.sell_volume|floatformat:"5"}}</td>
		    <td>{{ item.spread_percentage|floatformat:"2" }}%</td>
		</tr>
	    {% endfor %}
	  </tbody>
	</table>
	{% else %}
	<p>Ви не увійшли, виправте це :)</p>
	<a class="btn btn-primary" href="{% url 'login' %}" target="_blank" role="button">Увійти</a>
	{% endif %}

</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    {% comment %} $(document).ready(function() {
        $('#id_city').select2({
            placeholder: "Поиск города",
            allowClear: true,
			theme: "bootstrap"
        });
    });
	$(document).ready(function() {
        $('#id_state').select2({
            placeholder: "Поиск региона",
            allowClear: true,
			theme: "bootstrap"
        });
    });
	$(document).ready(function() {
        $('#id_category').select2({
            placeholder: "Поиск специальности",
            allowClear: true,
			theme: "bootstrap"
        });
    });
	$(document).ready(function() {
        $('#id_order').select2({
            minimumResultsForSearch: -1,
			theme: "bootstrap"
        });
    }); {% endcomment %}
	{% comment %} $(document).ready(function() {
		$('#id_city').select2();
	}); {% endcomment %}
</script>
{% endblock %}
